<!-- <nav>
    {% for item in site.data.navigation %}
        <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
    {% endfor %}
</nav> -->

<header role="banner">
    <nav class="navbar navbar-expand-md navbar-dark absolute-top">
      <div class="container">

        <button class="navbar-toggler order-2 order-md-1" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse order-3 order-md-2" id="navbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="about-us.html">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="our-ethos.html">Our Ethos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="teams.html">Teams</a>
            </li>
          </ul>
        </div>

        <a class="navbar-brand mx-auto order-1 order-md-3" href="/index.html">LJFC</a>

        <div class="collapse navbar-collapse order-4 order-md-4" id="navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="news.html">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="payment.html">Payment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact-us.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>